.container {
    display: flex;
    border: 10px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 1em;
    row-gap: 1em; 
    height: 90vh;
}
.box {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
}
#box1 {
    background-color: rgb(183, 193, 44);
    border-radius: 20px;
}
#box2 {
    background-color: rgb(166, 92, 186);
    border-radius: 20px;
}
#box3 {
    background-color: rgb(185, 62, 144);
    border-radius: 20px;
}

#box4 {
    background-color: rgb(95, 223, 161);
    border-radius: 20px;
}
